_jack1
_jack2

# Jekyll and gem bundle stuff
_site
.bundle
.jekyll-cache
.jekyll-metadata
.sass-cache
Gemfile.lock

/api/
/bin/
/_www/
/*stakx*
/vendor/

# VSCode project
*.code-workspace

# Jetbrains projets
.idea
