        <!-- HEADER -->
        <div id="header_wrap" class="outer">
            <header class="inner">
                <a id="forkme_banner" href="{{ site.organization.url }}">View on GitHub</a>
                <a href="{{ url("/") }}">
                    <img src="{{ url("/assets/images/logo.png") }}"
                        alt="JACK Logo - Home" class="img-fluid">
                </a>
{% include "_includes/navbar.html.twig" %}
            </header>
        </div>
